@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Patrick+Hand&display=swap');

:root {
  color-scheme: light dark;

  font-weight: 400;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-title {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-size: 8rem;
}

.title {
  font-family: "Londrina Solid", sans-serif;
  font-size: 3rem;
}

.big-text {
  font-family: "Patrick Hand", cursive;
  font-size: 2rem;
}

.normal-text {
  font-family: "Patrick Hand", cursive;
  font-size: 1.5rem;
}

.small-text {
  font-family: "Patrick Hand", cursive;
  font-size: 1rem;
}