@import "tailwindcss";

@import '@fontsource/londrina-solid';
@import '@fontsource/patrick-hand';

:root {
  color-scheme: light dark;

  font-weight: 400;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #FFF6EF;
  --black: #1C1C1C;
  --gray-1: #5F5F5F;
  --gray-2: #A2A298;
  --blue: #7D97FF;
  --red: #FFAFAF;
  --yellow: #FFDB5C;
  --green: #87EEAE;

  color: var(--black);

}

.black-text {
  color: var(--black);
}
.gray-text {
  color: var(--gray-1);
}
.light-text {
  color: var(--gray-2);
}
.red-text {
  color: var(--red);
}
.blue-text {
  color: var(--blue);
}

.title {
  font-family: "Londrina Solid", sans-serif;
  font-size: 2rem;
}

.big-text {
  font-family: "Patrick Hand", cursive;
  font-size: 1.75rem;
}

.normal-text {
  font-family: "Patrick Hand", cursive;
  font-size: 1.25rem;
}

.small-text {
  font-family: "Patrick Hand", cursive;
  font-size: 1.1rem;
}

@media (max-width: 640px) {
  .title{
    font-size: 1.75rem;
  }

  .big-text {
    font-size: 1.5rem;
  }

  .normal-text {
    font-size: 1.2rem;
  }

  .small-text {
    font-size: 1rem;
  }
}

@media (max-width: 580px) {
  .title {
    font-size: 1.7rem;
  }

  .big-text {
    font-size: 1.3rem;
  }

  .normal-text {
    font-size: 1.05rem;
  }

  .small-text {
    font-size: 0.95rem;
  }
}
